<a href="https://colab.research.google.com/github/KatBotkowska/CodersCrew/blob/master/Netflix_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pobranie danych z Kaggle

###https://towardsdatascience.com/downloading-datasets-into-google-drive-via-google-colab-bcb1b30b0166

In [7]:
#podłączenie google drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [8]:
root_path = 'gdrive/My Drive/netflix/'

In [9]:
from google.colab import files
files.upload()  #this will prompt you to upload the kaggle.json

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"kbotkowska","key":"90ebb11108c952959800f5549af3472d"}'}

In [10]:
!pip install -q kaggle
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!ls ~/.kaggle
!chmod 600 /root/.kaggle/kaggle.json  # set permission

kaggle.json

##Pobranie i rozpakowanie danych kaggle - netflix

In [11]:
!kaggle datasets download -d shivamb/netflix-shows

Downloading netflix-shows.zip to /content
  0% 0.00/971k [00:00<?, ?B/s]
100% 971k/971k [00:00<00:00, 66.0MB/s]

In [14]:
!unzip -q netflix-shows.zip -d [netflix]

##Pobranie i rozpakowanie danych kaggle - imdb

In [19]:
!kaggle datasets download -d stefanoleone992/imdb-extensive-dataset

Downloading imdb-extensive-dataset.zip to /content
 98% 81.0M/82.3M [00:06<00:00, 14.9MB/s]
100% 82.3M/82.3M [00:06<00:00, 12.9MB/s]

In [20]:
!unzip -q imdb-extensive-dataset.zip -d [netflix]

##Pobranie i rozpakowanie danych kaggle - movielens

In [26]:
!kaggle datasets download -d grouplens/movielens-20m-dataset

Downloading movielens-20m-dataset.zip to /content
 99% 193M/195M [00:14<00:00, 16.8MB/s]
100% 195M/195M [00:14<00:00, 13.9MB/s]

In [27]:
!unzip -q movielens-20m-dataset.zip -d [netflix]

##Załadowanie dataframes

In [22]:
import pandas as pd
netflix_titles = pd.read_csv('/content/[netflix]/netflix_titles.csv')

In [24]:
imdb_movies = pd.read_csv('/content/[netflix]/IMDb movies.csv')
imdb_names = pd.read_csv('/content/[netflix]/IMDb names.csv')
imdb_ratings = pd.read_csv('/content/[netflix]/IMDb ratings.csv')
imdb_title_principals = pd.read_csv('/content/[netflix]/IMDb title_principals.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [28]:
movielens_genome_scores = pd.read_csv('/content/[netflix]/genome_scores.csv')
movielens_genome_tags = pd.read_csv('/content/[netflix]/genome_tags.csv')
movielens_link = pd.read_csv('/content/[netflix]/link.csv')
movielens_movie = pd.read_csv('/content/[netflix]/movie.csv')
movielens_rating = pd.read_csv('/content/[netflix]/rating.csv')
movielens_tag = pd.read_csv('/content/[netflix]/tag.csv')

In [23]:
netflix_titles.head()

    show_id  ...                                        description
0  81145628  ...  Before planning an awesome wedding for his gra...
1  80117401  ...  Jandino Asporaat riffs on the challenges of ra...
2  70234439  ...  With the help of three human allies, the Autob...
3  80058654  ...  When a prison ship crash unleashes hundreds of...
4  80125979  ...  When nerdy high schooler Dani finally attracts...

[5 rows x 12 columns]

In [25]:
imdb_movies.head()

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

# Nowa sekcja