<a href="https://colab.research.google.com/github/KatBotkowska/CodersCrew/blob/master/Netflix_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pobranie danych z Kaggle

###https://towardsdatascience.com/downloading-datasets-into-google-drive-via-google-colab-bcb1b30b0166

In [2]:
#podłączenie google drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
root_path = 'gdrive/My Drive/netflix/'

In [4]:
from google.colab import files
files.upload()  #this will prompt you to upload the kaggle.json

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"kbotkowska","key":"90ebb11108c952959800f5549af3472d"}'}

In [5]:
!pip install -q kaggle
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!ls ~/.kaggle
!chmod 600 /root/.kaggle/kaggle.json  # set permission

kaggle.json

##Pobranie i rozpakowanie danych kaggle - netflix

In [6]:
!kaggle datasets download -d shivamb/netflix-shows

Downloading netflix-shows.zip to /content
  0% 0.00/971k [00:00<?, ?B/s]
100% 971k/971k [00:00<00:00, 66.2MB/s]

In [7]:
!unzip -q netflix-shows.zip -d [netflix]

##Pobranie i rozpakowanie danych kaggle - imdb

In [8]:
!kaggle datasets download -d stefanoleone992/imdb-extensive-dataset

Downloading imdb-extensive-dataset.zip to /content
 98% 81.0M/82.3M [00:06<00:00, 11.0MB/s]
100% 82.3M/82.3M [00:06<00:00, 12.4MB/s]

In [9]:
!unzip -q imdb-extensive-dataset.zip -d [netflix]

##Pobranie i rozpakowanie danych kaggle - movielens

In [10]:
!kaggle datasets download -d grouplens/movielens-20m-dataset

Downloading movielens-20m-dataset.zip to /content
 95% 185M/195M [00:12<00:00, 15.4MB/s]
100% 195M/195M [00:12<00:00, 16.3MB/s]

In [11]:
!unzip -q movielens-20m-dataset.zip -d [netflix]

##Załadowanie dataframes

In [12]:
import pandas as pd
netflix_titles = pd.read_csv('/content/[netflix]/netflix_titles.csv')

In [13]:
imdb_movies = pd.read_csv('/content/[netflix]/IMDb movies.csv')
imdb_names = pd.read_csv('/content/[netflix]/IMDb names.csv')
imdb_ratings = pd.read_csv('/content/[netflix]/IMDb ratings.csv')
imdb_title_principals = pd.read_csv('/content/[netflix]/IMDb title_principals.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
movielens_genome_scores = pd.read_csv('/content/[netflix]/genome_scores.csv')
movielens_genome_tags = pd.read_csv('/content/[netflix]/genome_tags.csv')
movielens_link = pd.read_csv('/content/[netflix]/link.csv')
movielens_movie = pd.read_csv('/content/[netflix]/movie.csv')
movielens_rating = pd.read_csv('/content/[netflix]/rating.csv')
movielens_tag = pd.read_csv('/content/[netflix]/tag.csv')

#Netflix - podstawowe dane

In [15]:
netflix_titles.head()

    show_id  ...                                        description
0  81145628  ...  Before planning an awesome wedding for his gra...
1  80117401  ...  Jandino Asporaat riffs on the challenges of ra...
2  70234439  ...  With the help of three human allies, the Autob...
3  80058654  ...  When a prison ship crash unleashes hundreds of...
4  80125979  ...  When nerdy high schooler Dani finally attracts...

[5 rows x 12 columns]

In [23]:
netflix_titles.shape
#rozmiary  - wiersze i kolumny

(6234, 12)

In [17]:
netflix_titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

In [21]:
netflix_titles.describe()
#trochę bez sensu, nie ma tutaj dużo danych numerycznych do podsumowań

            show_id  release_year
count  6.234000e+03    6234.00000
mean   7.670368e+07    2013.35932
std    1.094296e+07       8.81162
min    2.477470e+05    1925.00000
25%    8.003580e+07    2013.00000
50%    8.016337e+07    2016.00000
75%    8.024489e+07    2018.00000
max    8.123573e+07    2020.00000

##Netflix dla 2019

In [26]:
netflix_2019 = netflix_titles.iloc[:,:][netflix_titles.release_year==2019]
netflix_2019.head()

     show_id  ...                                        description
0   81145628  ...  Before planning an awesome wedding for his gra...
34  80221550  ...  Happy-go-lucky chicken Archibald may not remem...
35  81154455  ...  The grim realities of caste discrimination com...
38  81132437  ...  Bogged down with money problems, a couple grow...
39  80178151  ...  In the 1960s, Israeli clerk-turned-secret agen...

[5 rows x 12 columns]

In [28]:
netflix_2019.shape

(843, 12)

In [16]:
imdb_movies.head()

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

##IMDB dla 2019

In [29]:
imdb_2019 = imdb_movies.iloc[:,:][imdb_movies.year==2019]
imdb_2019.head()

      imdb_title_id  ... reviews_from_critics
44619     tt0385887  ...                178.0
46723     tt0437086  ...                368.0
46892     tt0441881  ...                 31.0
47132     tt0448115  ...                379.0
49759     tt0783640  ...                 44.0

[5 rows x 22 columns]

##Łączenie IMDB i Netflix dla 2019

In [32]:
netflix_imdb_2019 = pd.merge(netflix_2019, imdb_2019, on=['title'])
netflix_imdb_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 22
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   show_id                23 non-null     int64
 1   type                   23 non-null     object
 2   title                  23 non-null     object
 3   director_x             22 non-null     object
 4   cast                   23 non-null     object
 5   country_x              22 non-null     object
 6   date_added             23 non-null     object
 7   release_year           23 non-null     int64
 8   rating                 23 non-null     object
 9   duration_x             23 non-null     object
 10  listed_in              23 non-null     object
 11  description_x          23 non-null     object
 12  imdb_title_id          23 non-null     object
 13  original_title         23 non-null     object
 14  year                   23 non-null     object
 15  date_published         23 non-null     object
 16  genre                  23 non-null     object
 17  duration_y             23 non-null     int64
 18  country_y              23 non-null     object
 19  language               23 non-null     object
 20  director_y             23 non-null     object
 21  writer                 23 non-null     object
 22  production_company     20 non-null     object
 23  actors                 23 non-null     object
 24  description_y          23 non-null     object
 25  avg_vote               23 non-null     float64
 26  votes                  23 non-null     int64
 27  budget                 2 non-null      object
 28  usa_gross_income       1 non-null      object
 29  worlwide_gross_income  7 non-null      object
 30  metascore              5 non-null      float64
 31  reviews_from_users     23 non-null     float64
 32  reviews_from_critics   22 non-null     float64
dtypes: float64(4), int64(4), object(25)
memory usage: 6.1+ KB

In [34]:
netflix_imdb_2019.shape

(23, 33)

In [35]:
netflix_imdb_2019

     show_id     type  ... reviews_from_users reviews_from_critics
0   81154455    Movie  ...              322.0                 34.0
1   81177238    Movie  ...               33.0                  8.0
2   81176200    Movie  ...               10.0                  2.0
3   81131761    Movie  ...               40.0                 15.0
4   80998890    Movie  ...               22.0                  6.0
5   81206389    Movie  ...               64.0                  4.0
6   81194544    Movie  ...               12.0                  1.0
7   80175798    Movie  ...             2705.0                438.0
8   81217737    Movie  ...                6.0                  NaN
9   81076114    Movie  ...               41.0                  6.0
10  80993095    Movie  ...               89.0                 12.0
11  81043473    Movie  ...               69.0                  7.0
12  80169469    Movie  ...              553.0                 72.0
13  80192187    Movie  ...              930.0                137.0
14  81136964    Movie  ...               17.0                  2.0
15  80242619    Movie  ...              820.0                 85.0
16  81068732    Movie  ...                4.0                  3.0
17  81043135    Movie  ...               11.0                  4.0
18  81150338    Movie  ...               23.0                 15.0
19  81210770    Movie  ...                5.0                  4.0
20  81165325    Movie  ...               18.0                 13.0
21  81155803    Movie  ...               11.0                  2.0
22  80189829  TV Show  ...               12.0                  1.0

[23 rows x 33 columns]

# Nowa sekcja